@font-face{
    src: url('../fonts/CrimsonText-BoldItalic.ttf');
    font-family: padrao;
}
/*=========================corpo=======================================*/
body{
    background:  url('../imagens/background/fundo_dois.jpg');
    font-family: padrao;
    color:       #fff;
}
a:hover{
    text-decoration: none;
}
/*=========================cabeçalho===================================*/
.cl_header{
    background: #01365e;
/*    */
    width:      100%;
    padding:    5pt;
}
/*=========================navbar======================================*/
.cl_navegacao{
    background: #0185b6;
    text-shadow: 1px 1px 1px #000;
}
.list_menu{
    list-style: none;
}
.list_menu_li{
    display: inline-block;
    color:   #fff;
}

/*=========================navbar======================================*/
table{
    border: 2px solid #fff;
    text-align: center;
}
/*=========================navbar======================================*/
.button_add{
    border:        none;
    border-radius: 3pt;
    box-shadow:    2px 2px 2px #000;
    margin:        8px;
}
/*=========================modal=======================================*/
#titolomodal{
    color: #000;
}
.lb_cad_des{
    color: #000;
    width: 49%;
    margin:0;
}
.cl_select{
    width: 99%;
}
.cl_input{
    border-radius: 3pt;
    height: 30px;
    border: 1px solid #000;
}
#alerta_add{
    color:      #000;
    text-align: center;
    margin-top: 10pt;
    font-size:  1.2em;
    color:      green;
    display:    none;
}
/*=========================modal=======================================*/
.cl_line{
    color: #000;
}
/*=====================================================================*/
.bloco_Pesquisa{
    background:    rgba(1,54,94,0.8);
    padding:       5pt 10pt;
    margin:        10pt 0;
    border-radius: 2pt;
}
.lb_pesquisa{
    font-size: 1.2em;
    margin:    4pt;
}
.cl_inpt{
    border-radius: 3pt;
    border:        none;
    padding:       0 5pt;
}
.cl_inpt_sl{
    padding: 2pt 5pt;
}
.botao_p{
    border-radius: 3pt;
    border: none;
    color: #fff;
    margin: 5pt;    
}
#botao_de_pesquisa{
    background: green;
}
#reset_pesquisa{
    background: red;
}
/*=====================================================================*/
.alerta_load{
    position:   absolute;
    z-index:    1;
    width:      100%;
    height:     100%;
    background: rgba(0,0,0,0.8);
    display:    none;
}
.divisao{
    background: #234f66;
    text-align: center;
    margin-top: 100pt;
    border-radius: 4pt;
    
}