@charset "UTF-8";
/*===============================botão modal====================================================*/
.linhaBotoes{
    padding: 0;
    margin-top: 20pt;
}
.botoesLinha{
    background-color: #062D86;
    padding: 10pt;
    margin:0
}
#modalDesp{
    border: 2px solid #000;
    border-right: none;
    box-shadow: 4px 4px 0 #000;
}
#modalCred{
    box-shadow: 4px 4px 0 #000;
    border: 2px solid #000;
    border-left: none;
}
.botaoModal{
    transition: 1s;
    font-family: 'Bebas Neue', cursive;
}
.botaoModal:hover{
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow:  0 0 4px #fff;
}
/*===================================modal======================================================*/
.tituloModal{
    font-family: 'Bebas Neue', cursive;
}
.corpoDespesa{
     background-color: #062d86;
     background-image: url('../imagens/cifrao_modal.png');
     background-repeat: no-repeat;
     background-size: 400px;
     background-position: center;
}
.corpoCapital{
     background-color: #062d86;
     background-image: url('../imagens/cofre-porquinho.png');
     background-repeat: no-repeat;
     background-size: 400px;
     background-position: center;    
}
.modal-content{
    border-radius: 10px;
    border: 2px solid #6F88C0;
}
.labelstyle{
    font-family: 'Bebas Neue', cursive;
    color:#fff;
    margin-bottom: 0;
}
.inputstyle{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 5pt;
    background-color: rgba(255, 255, 255, 0.8);
    color:#000;
}
.inputstyle:hover{
    background-color: #fff;
}
.botaoCad{
    background-color:#062d86;
    color: #fff;
    border-radius: 7px;
    font-family: 'Bebas Neue', cursive;
    border:none;
    padding: 5pt;
}
.botaoCad:hover{
    background-color:#00B000;
}
.botaoExit{
    background-color:#A2A0A0;
    color: #000;
    border-radius: 7px;
    font-family: 'Bebas Neue', cursive;
    border:none;
    padding: 5pt;
}
.botaoExit:hover{
    background-color:red;
}
/*=====================================pasta====================================================*/
.abaUmTotal{
    background-color:#fff;
    width:100%;
    margin-bottom: 20pt;
}
.tituloDC{
    margin-top: 20pt;
    text-align: center;
    font-family: 'Lobster', cursive;
    color:#fff;
    text-shadow: 0 4px 0 #000;
}
.pastaTotal{
    padding: 5pt;
}
.abas{
    background-color: #fff;
    box-shadow: 2px 2px 5px black;
    width: 100%;
    overflow-x:auto; 
}

.d_aba{
    color: #fff;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 16pt;
    
}
.d_aba:hover{
    color: #fff;
}
/*==================linha de pesquisa===============================================================*/
.butoesData{
    margin-top:5pt;
    margin-bottom:5pt;
}
.pesquisaTabela{
        color: #000;
        margin-left: 10px;
        font-family: 'Bebas Neue', cursive;
        /*labels*/
    }
.inputPesquisa{
    border:none;
    border-bottom: 2px solid #000;
    transition: 0.5s;
    margin: 0pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
    /*input*/
}
.botaoPesquisaData{
    border: 2px solid #000;
    border-radius: 7px 0 0px 7px;
}
.botaoPesquisaData:hover{
    background-color:#0F9E00    ;
}
.resetPagina{
    border: 2px solid #000;
    border-radius: 0px 7px 7px 0px;
    background-color: transparent;
}
.resetPagina:hover{
    background-color:red;
}
/*==================linha de pesquisa===============================================================*/
/*===================================tabelas========================================================*/
.tabelaStyle{
    width: 100%;
    overflow: auto;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}
.cabecalhoTabela{
    background-color: #000;
    color: #fff;
    margin-top:0;
}
.divisao{
    height: 100px;
}
.linhaTabela:hover{
    background-color:#5A5C77;
    color:#fff;
    text-shadow: 0 2px 0 #000;
}
/*====================================modal delete==================================================*/
.exclusaoModal{
     background-color: #062d86;
     background-image: url('../imagens/delete_modal.png');
     background-repeat: no-repeat;
     background-size: 50pt;
     background-position: left;
     color:#fff;
}

.excList:hover{
    background-color: red;
}
