@font-face{
    src: url('../fonts/CrimsonText-BoldItalic.ttf');
    font-family: padrao;
}
/*=========================corpo=======================================*/
body{
    background:  url('../imagens/background/fundo.jpg');
    font-family: padrao;
    color:       #fff;
}
/*=========================cabeçalho===================================*/
.cl_header{
    background: #34c4a0;
/*    */
    width:      100%;
    padding:    5pt;
}
/*=========================navbar======================================*/
.cl_navegacao{
    background: #00936e;
}
.list_menu{
    list-style: none;
}
.list_menu_li{
    display: inline-block;
}
/*=========================corpo=======================================*/
.bloco_selecao{
    background:    #0168b3;
    padding:       10px;
    border-radius: 3pt;
    text-shadow:   1px 1px 2px #000;
    margin:        5px;
    transition:    0.5s;
}
.bloco_selecao:hover{
    box-shadow: 2px 2px 2px #000;
    transform:  scale(1.05);
    z-index:    1;
}