@charset "UTF-8";

/*==========artigos=========================================================================================*/
.assunto{
    border: 2px solid #6f88c0;
    margin-top:20pt;
    margin-bottom:20pt;
}
.titulo_index{
    background-color: #001f68;
    color: #fff;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 0 2px 0 #000;
}
.artigos{
    background-color: #fff;
    padding: 15px;
}
.sub_artigo{
    padding: 10px;
}

.img_cent{
    border: 2px solid #fff;
    box-shadow: 0 0 5px #000;
    margin-right: 25px;
}
.listadesc{
    font-family: 'Ibarra Real Nova', serif;
    font-weight: bold;
    list-style: none;
    font-style: italic;
}
p{
    line-height:15px;
    text-align: justify;
}
.artigosv{
    padding: 15px;
    color:#fff;
    background-color: #001f68;
}
.img_centV{
    border: 2px solid #fff;
    box-shadow: 0 0 5px #000;
    margin-right: 25px;
}