@charset "UTF-8";
/*===============================botão modal====================================================*/
.linhaBotoes{
    padding: 0;
    margin-top: 20pt;
}
.botoesLinha{
    background-color: #062D86;
    padding: 10pt;
    margin-bottom:20PT;
    box-shadow: 4px 4px 0 #000;
    border: 2px solid #000;
    
}
.botaoModal{
    transition: 1s;
    font-family: 'Bebas Neue', cursive;
}
.botaoModal:hover{
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow:  0 0 4px #fff;
}
/*===================================modal======================================================*/
.tituloModal{
    font-family: 'Bebas Neue', cursive;
}
.corpoLista{
     background-color: #062d86;
     background-image: url('../imagens/compras2.0.png');
     background-repeat: no-repeat;
     background-size: 300pt;
     background-position: center;
}
.modal-content{
    border-radius: 10px;
    border: 2px solid #6F88C0;
}
.labelstyle{
    font-family: 'Bebas Neue', cursive;
    color:#fff;
    margin-bottom: 0;
}
.inputstyle{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 5pt;
    background-color: rgba(255, 255, 255, 0.8);
    color:#000;
}
.inputstyle:hover{
    background-color: #fff;
}
.botaoCad{
    background-color:#062d86;
    color: #fff;
    border-radius: 7px;
    font-family: 'Bebas Neue', cursive;
    border:none;
    padding: 5pt;
}
.botaoCad:hover{
    background-color:#00B000;
}
.botaoExit{
    background-color:#A2A0A0;
    color: #000;
    border-radius: 7px;
    font-family: 'Bebas Neue', cursive;
    border:none;
    padding: 5pt;
}
.botaoExit:hover{
    background-color:red;
}
/*=====================titulo======================================================================*/
.tituloCompra{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
}
/*=====================cards======================================================================*/
.linhaStyleList{
    margin-top: 20pt;
    font-family: 'Bebas Neue', cursive;
}
.imgStyle{
    border: 3px solid #c2c2c2;
    box-shadow:2px 2px 0 #000;
}
.titulo_intens{
    border-bottom: 2px solid #000;
}
.botoesLista{
    margin-left: 5pt;
    margin-bottom   : 5pt;
}
.botaoUm:hover{
    background: red;
    border-radius: 3px;
}
.botaoDois:hover{
    background: green;
    border-radius: 3px;
}
.linharow{
    padding: 2pt;
}
.deleteListComp{
    background-color: #062d86;
     background-image: url('../imagens/delete_modal.png');
     background-repeat: no-repeat;
     background-size: 100pt;
     background-position: left;
     font-family: 'Bebas Neue', cursive;
}
/*===========================colaps===================================================================*/
.accordion{
    border: 3px solid #000;
    border-radius: 6px;
    box-shadow: 4px 4px 0 #000;
}
.butaoAlta{
    border: 4px solid #fff;
    box-shadow: 0 0 4px #000;
    background-color: #0939a6;
    font-family: 'Bebas Neue', cursive;
    border-radius: 3px;
    color: #fff;
    transition: 1s;
    width: 100pt;
}
.butaoAlta:hover{
    background-color: black;
    color: red;
}
.butaoMedia{
    border: 4px solid #fff;
    box-shadow: 0 0 4px #000;
    background-color: #0939a6;
    font-family: 'Bebas Neue', cursive;
    border-radius: 3px;
    color: #fff;    
    transition: 1s;
    width: 100pt;
}
.butaoMedia:hover{
    background-color: #000;
    color:yellow;
}
.butaoBaixa{
    border: 4px solid #fff;
    box-shadow: 0 0 4px #000;
    background-color: #0939a6;
    font-family: 'Bebas Neue', cursive;
    border-radius: 3px;
    color: #fff;    
    transition: 1s;
    width: 100pt;
}
.butaoBaixa:hover{
    background-color: #000;
    color:green;
}
/*===========================modal sim não============================================================*/
.objList{
    color:#fff;
    text-align: center;
}