@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
/*font-family: 'Kaushan Script', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
/*font-family: 'Pacifico', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
/*font-family: 'Dancing Script', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');
/*font-family: 'Ibarra Real Nova', serif;*/
body{
        background-color: rgb(0, 22, 74);
}
/*======================section login==========================*/
.login{
    margin-top: 15px;
    padding: 30px;
    background-color: #fff;
    font-family: 'Ibarra Real Nova', serif;
    border-radius: 7px;
    border: 4px solid #005389;
}
input{
    margin-bottom: 20px;
}
input{
    margin-bottom: 20px;
}
input:hover{
    border: 2px solid rgb(214, 181, 12);
    box-shadow: 0 0 2px #000;
}
P{
    color: #fff;
    text-shadow:0 0 1px #000;
    background-color:#005389;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}