@charset "UTF-8";
/*=============================inicio===========================================================*/
#principio{
    color: #fff;
    text-shadow: 0 2px 0px #000;
    text-align: center;
    font-size: 12pt;
    padding: 5px;
    font-family: 'Bebas Neue', cursive;
}
#tituloVisao{
    text-shadow: 0 2px 0 #000;
    text-align: center;
    color:#fff;
    font-family: 'Lobster', cursive;
    margin-bottom: 8pt;
}
/*============================quadro geral=========================================================*/
.quadrovisao{
    background-color:#062D86;
    color:#fff;
    font-family: 'Bebas Neue', cursive;
    padding:10pt;
}
.quadrovisaodois{
    background-color:#042267;
    color:#fff;
    font-family: 'Bebas Neue', cursive;
    padding:10pt;
}
.tituloquadro{
    text-shadow: 0 4px 0 #000;
}
.linhaVisao{ 
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    box-shadow: 0 3px 2px #000;
}